:root {
    --preto: #222222;
    --cinza-claro: #EDEDED;
    --cinza: #999999;
    --azul: #9AF7F7;
    --amarelo: #F4F294;
    --fundo-azul: rgba(80, 213, 255, 0.7);
    --fundo-amarelo: rgba(255, 245, 106, 0.7);
    --borda-azul: rgba(42, 188, 232, 0.9);
    --borda-amarela: rgba(240, 226, 21, 0.9);
    --sombra: 0 4px 30px rgba(0, 0, 0, 0.1);
}