.chamada {
    align-items: center;
    row-gap: 2rem;
    max-width: 750px;
    justify-content: center;
}

.chamada__texto {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    text-align: center;
    padding: 1rem;
}

.chamada__botoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.chamada__botao {
    text-align: center;
    cursor: pointer;
    border-radius: 1.5rem;
    padding: .5rem 1rem;
    transition: all 500ms;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.chamada__botao, .chamada__botao span {
    line-height: 1.75rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--preto);
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    .chamada__texto {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .chamada__botao {
        font-size: 1.25rem;       
    }
}

.chamada__botao:hover {
    background-color: transparent;
    transform: scale(1.05);
}

.chamada__ficha {
    max-height: 3rem;
    max-width: 3rem;
}
