@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;700&display=swap');

/* Definindo as variáveis */
:root {
    --preto: #222222;
    --cinza-claro: #EDEDED;
    --cinza: #999999;
    --azul: #9AF7F7;
    --amarelo: #F4F294;
    --fundo-azul: rgba(80, 213, 255, 0.7);
    --fundo-amarelo: rgba(255, 245, 106, 0.7);
    --borda-azul: rgba(42, 188, 232, 0.9);
    --borda-amarela: rgba(240, 226, 21, 0.9);
    --sombra: 0 4px 30px rgba(0, 0, 0, 0.1);
}


/* Estilos comuns a todas as páginas */
body {
    padding: 1rem;
    min-height: calc(100vh - 2rem);
    font-family: 'League Spartan', sans-serif;
    gap: 5vh;
    background: linear-gradient(45deg, var(--amarelo), var(--azul));
}

body, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho {
    display: flex;
    justify-content: center;
    user-select: none;
}

.cabecalho__logo {
    cursor: pointer;
    transition: all 500ms;
}

.cabecalho__logo:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.fundo--amarelo, .fundo--azul {
    border-radius: 16px;
    box-shadow: var(--sombra);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.fundo--amarelo {
    background: var(--fundo-amarelo);
    border: 2px solid var(--borda-amarela);
}

.fundo--azul {   
    background: var(--fundo-azul);
    border: 2px solid var(--borda-azul);
}
